
.registration{  
    width:40vw;
    margin:50px auto;  
    padding:20px;
    background: rgba( 250, 250, 250, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  
  .registration>*{
    margin:10px 0px;
  }

  .viewRequests{  
    width:38vw;
    margin:50px auto;  
    padding:20px;
    background: rgba( 250, 250, 250, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .errorText {
    color: red;
  }
  .css-1ex1afd-MuiTableCell-root {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    text-align: left;
    padding: 6px;
    color: rgba(0, 0, 0, 0.87);
}

  
  .viewRequests>*{
    margin:10px 0px;
  }
  
  .detail{  
    width:81vw;
    margin:50px auto;  
    padding:20px;
    background: rgba( 250, 250, 250, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  .detail>*{
    margin:10px 0px;
  }
 
  .button_fun:hover{
    cursor:pointer;
    transform:scale(1.03);
    filter:brightness(110%)
  }

  .datePicker {
    width: 213%;
  }

  @media screen and (max-width: 1000px) {
  
    .registration{
      width:50vw;
    }
  
    }
    @media screen and (max-width: 600px) {
      .registration{
        width:80vw;
      }
     
      }

      @media screen and (max-width: 1000px) {
  
        .detail{
          width:50vw;
        }
      
        }
        @media screen and (max-width: 600px) {
          .detail{
            width:80vw;
          }
         
          }